{% load static %}
{% load auth_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="menu">
    {% if request.user.is_authenticated %}
        <div class="gym-name">
            <h2><a href="{% url 'index' %}">CrossBox Gym</a></h2>
            <button><a href="{% url 'calendar' %}">CALENDAR</a></button>
        </div>
        <div class="main-buttons">
            Logged user:
            <b>{{ request.user.username }}</b>
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div>
    {% else %}
        <div class="gym-name">
            <h2><a href="{% url 'index' %}">CrossBox Gym</a></h2>
            <button><a href="{% url 'calendar' %}">CALENDAR</a></button>
        </div>
        <div class="main-buttons">
            <button><a href="{% url 'login' %}">Login</a></button>
            <button><a href="{% url 'add_user' %}">Create account</a></button>
        </div>
    {% endif %}
</div>
<div class="main-page">
    <div class="user-menu">
    <ul>
        {% if request.user.is_authenticated %}
            {% if request.user|has_group:"Trainer" %}
                <li><button><a href="{% url 'add_training' %}">New training</a></button></li>
                <li><button><a href="{% url 'membership_history' %}">Memberships</a></button></li>
            {% else %}
                <li><button><a href="{% url 'update_profile' %}">Update profile</a></button></li>
                <li><button><a href="{% url 'profile_info' %}">Profile info</a></button></li>
                <li><button><a href="{% url 'membership_info' %}">Membership info</a></button></li>
                <li><button><a href="{% url 'purchase_membership' %}">Purchase Membership</a></button></li>
            {% endif %}
        {% endif %}
    </ul>
    </div>
    <div class="main-content">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% block calendar %}
{% endblock %}
</body>
</html>